.titulos {
    color: navy;
    text-align: center;
    padding-top: 10px;
}

.row{
	list-style: none;
    margin-left: 20px;
    display: flex;
}

.row img {
    width: 20%;
}

.row button {
    background-color: rgb(51, 51, 80);
    color: white;
}