.titulos {
    color: navy;
    text-align: center;
    padding-top: 10px;
}

.card {
    height: 100%;
    margin-top: 50px;
    padding-top: 20px;

}

.card-img-top {
    height: 50%;
}

.card-title {
    font-size: smaller;
}

.btn-agregar-carrito {
    background-color: rgb(51, 51, 80);
    color: white;
}

.btn-agregar-carrito:hover {
    color: white;
}